h1 {
    color: blue;
    background-color: rgb(15, 215, 230);
}
P {
    color: rgb(74, 234, 127);
    background-color: rgb(159, 61, 230);
}
button {
    color: rgb(246, 249, 246);
    background-color: rgb(106, 235, 55);
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}
button.red {
    background-color: rgb(225, 29, 25);
}
button.blue {
    background-color: rgb(53, 231, 225);
}