h1 {
    color: rgb(3, 1, 100)
}

h2 {
    color: #F2842F;
    border: 2px dashed black;
    padding: 10px;
}

p {
    color: rgb(37, 60, 109);
    font-family: Arial, sans-serif;
    font-weight: bold;
}

a {
    margin: 5px;
}